node_modules/
build/
dist/
coverage/
.sessions/
.sessions_test/
sessions/
pytest-cache-files-*/
.pytest_cache/
**/sessions/*.sqlite*
**/sessions/*.duckdb*
**/.sessions/*.duckdb*
.venv/
__pycache__/
*.pyc
.DS_Store
*.log
.env*
!.env.example
